/* Estilos para os ícones nas abas */
.tabIcon {
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}

.iconTS {
  color: #509df0 !important;
}

.iconJS {
  color: #f7df1e !important;
}

.iconReact {
  color: #61dafb !important;
}

.iconJSON {
  color: #8cc84b !important; /* Verde Node.js */
}

.iconMD {
  color: #cccccc !important; /* Cinza claro */
} 